

<div class="jumbotron">
    <h1>Welcome to ABC Food Catering</h1>
    <p>Our Cater serves a wide range of quality food to fit your needs and satisfactions.</p>
    <p>Do view our website for more information.</p>
    <p>Ordering of food please click <a href="#">here</a>. </p>
    <img style="right" src="" alt="" />
</div>